<app-header></app-header>
<section class="card-movie">
  <div class="card-degraded" style=" background-image: url('https://image.tmdb.org/t/p/w1920_and_h800_multi_faces/{{movieData.backdrop_path}}');background-repeat: no-repeat; background-size: cover; background-position: right -600px top;">
    <div class="card-filter">
      <div class="card-details">
        <div class="card-img">
          <img src="{{'https://image.tmdb.org/t/p/w500' + movieData.poster_path}}" class="img-card" alt="{{movieData.title}}" style="opacity:none;">
        </div> 
        <div class="card-texto">
            <h1>{{movieData.title}}</h1>
            <p>{{movieData.overview}}</p>
            <a class="link-home" href="/movie">REGRESAR</a>
        </div>
      </div>
    </div>
  </div>
  <div>
    <app-cards [movies]="movieActors" [cardActors]="cardActors"></app-cards>
  </div>
</section>
<app-footer></app-footer>

