<section class="cards" *ngIf="!cardActors"style="gap: 10px 47px;">
  <h3 class="title-pelicula">Peliculas</h3>
    <article class="d-flex  flex-column flex-wrap justify-content-center" *ngFor="let movies of movies; let i=index;" style="height: 100%; gap: 19px;">
          <div *ngIf="movies.poster_path" class="d-flex flex-row flex-wrap" style="width: 15rem;">
            <header class="header-card">
              <img src="{{'https://image.tmdb.org/t/p/w500' + movies.poster_path }}" alt="{{movies.title}}" (click)="mandarId(movies.id)" style="height: 300px; width: 100%;">
            </header>
            <footer class="footer-card">
                <p style="height: 50px; padding: 10px; color: #ffff">{{movies.title}} - {{movies.vote_average}}</p>
            </footer>
          </div> 
    </article>
</section>
<section class="cards" *ngIf="cardActors" style="gap: 10px 45px; margin: 0 110px;">
  <h3 class="title-pelicula">Actores</h3>
  <article class="d-flex  flex-column flex-wrap justify-content-center" *ngFor="let movies of movies; let i=index;" style="height: 100%; gap: 19px;">
    <div *ngIf="movies.profile_path && i < 6" class="d-flex flex-row flex-wrap" style="width: 15rem;">
      <header class="header-card">
        <img src="{{'https://image.tmdb.org/t/p/w500' + movies.profile_path}}" alt="{{movies.title}}" style="height: 300px; width: 100%;">
      </header>
      <footer class="footer-card">
        <p style="height: 50px; padding: 10px; color: #ffff;">{{movies.name}}</p>
      </footer>
    </div>  
  </article>
</section>
    