/* You can add global styles to this file, and also import other style files */
$color-primary: rgb(2, 30, 52);

body{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    box-sizing: border-box;
}

header{
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    position: fixed;
    position: absolute;
    top:0;
    left:0;
    height:64px;
    width: 100%;
    z-index:10px;
    transition: top 0.2s linear;

    form{
    display:flex;
    }

    nav{
    display:flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
    }

    div.content{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    div.first-div{
        display:flex;;
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
        overflow: visible;
    }

    div.second-div{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-end;
    }
    img{
            border-radius: 10px;
            height: 100%;
            width:100%;
    }
}

button{
        width:40%;
        left: 115px;
        font-weight: bold;
        display:inline-block;
        text-transform: uppercase;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 5px 16px;
        transition: linear .1s;
        background-color: rgb(24,26,27);
        color: rgb(45,210,254);
}
.full-width{
    width:100%
}
.container{
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    padding-bottom:50px

}
  
footer{
    height: 150px;
    bottom: 0;
    background-color: $color-primary;
    max-width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    img{
        width: 130px;
        height:94px;
        display:block;
        top:0;
        right:0;

    }   
}


a{
    text-decoration: none;
}

i{
    color:black
}

.mt-x{
    margin: 6rem 8rem 0 8rem ;  
    h1{
                position: relative;
                left: 115px;
                font-size:1.3em;
                font-weight: bold;
                display:inline-block;
                word-wrap: break-word;
                white-space:normal;
                text-transform: uppercase;
                border: 2px solid #fff;
                border-radius: 5px;
                padding: 8px 16px;
                transition: linear .1s;
                border-color: rgb(48,52,54);
                background-color: rgb(24,26,27);
                color: rgb(45,210,254);
                          
    }
    .margin{
        margin-top:-80px
    }
} 


.carousel{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height:400px;
    ngb-carousel{
        width: 100%;
    }
    div{
        height:100%;      
    }
    img{
        width:100%;
        height:100%
    }
    .info{
        height: 150px;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding-top: 1.25rem;
        background-color: rgba(7, 4, 4, 0.473);
        h3{
            font-weight: bold;
            line-height: 1.4em;
            text-transform: uppercase;
            margin: 0 10px;
        }
        p{
            color: rgb(216, 212, 207);
            margin: 0 10px;
        }
        
    }
    .box{
        position: relative;
        img{
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: fill;
            background-repeat: no-repeat;
            
        }
    }
}

.cards{
    display:flex;
    flex-wrap:wrap;
    cursor: pointer; 

    .column{
        display:flex;
        flex-wrap: wrap;
        flex:16%;
    }
}

.cardMovie{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    .img-card{
            height: 100%;
            width: 350px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 0.50rem;
    }
    img footer{
        border-radius: 10px;
            height: 100%;
            width:100%;
    }
    h5{
        font-size: 2.2rem;
    }
    .link-home{
        width:160px;
        left: 115px;
        font-size:1.3em;
        font-weight: bold;
        display:inline-block;
        text-transform: uppercase;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 8px 16px;
        border-color: rgb(48,52,54);
        background-color: rgb(24,26,27);
        color: rgb(45,210,254);
    }
    .img-background{
        height:665px;
        background-image: url("https://carontestudio.com/img/caronte-web-estudio-logo.png");
        background-repeat: repeat-y;
        background-size: 10rem;
    }
    
}
.cards-actors{
    height: 350px;
    width: 100%;
    border:5px;
    margin: 0 3rem
}
.margen{
    margin: 40px -36px 0 -4px;
}
.margen-footer{
    margin-top: 80px;
}

.card-text{
    background-color: rgba(71, 68, 68, 0.075);
}

