/* You can add global styles to this file, and also import other style files */
$color-primary: rgb(2, 30, 52);

body{
    font-family: 'Source Sans Pro', Arial, sans-serif;
    box-sizing: border-box;
}

.header{
    background-color: $color-primary;
    display: flex;
    position: fixed;
    position: absolute;
    top:0;
    left:0;
    height:64px;
    width: 100%;
    z-index:10px;

    form{
    display:flex;
    }

    nav{
    display:flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 40px;
    }

    div.content{
        width: 100%;
        display: flex;
    }

    div.first-div{
        display:flex;;
        align-items: center;
        overflow: visible;
    }

    div.second-div{
        display: flex;
        align-items: center;
    }
    img{
            border-radius: 10px;
            height: 100%;
            width:100%;
    }
}

button{
        width:40%;
        left: 115px;
        font-weight: bold;
        display:inline-block;
        text-transform: uppercase;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 5px 16px;
        transition: linear .1s;
        background-color: rgb(24,26,27);
        color: rgb(45,210,254);
}

  
footer{
    height: 150px;
    bottom: 0;
    background-color: $color-primary;
    max-width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;

    img{
        width: 130px;
        height:94px;
        display:block;
        top:0;
        right:0;

    }   
}


a{
    text-decoration: none;
}

i{
    color:black
}

.mt-x{
    padding: 0rem 7rem;
    margin-top: 6rem;  
    height: 100%;
    width: 100%;
    h1{
                position: relative;
                left: 115px;
                font-size:1.3em;
                font-weight: bold;
                display:inline-block;
                word-wrap: break-word;
                white-space:normal;
                text-transform: uppercase;
                border: 2px solid #fff;
                border-radius: 5px;
                padding: 8px 16px;
                transition: linear .1s;
                border-color: rgb(48,52,54);
                background-color: rgb(24,26,27);
                color: rgb(45,210,254);
                          
    }
} 


.carousel{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height:400px;
    ngb-carousel{
        width: 100%;
    }
    div{
        height:100%;      
    }
    img{
        width:100%;
        height:100%
    }
    .info{
        height: 150px;
        width: 100%;
        position: absolute;
        bottom: 0;
        padding-top: 1.25rem;
        background-color: rgba(7, 4, 4, 0.473);
        color: #ffff;
        h3{
            font-weight: bold;
            line-height: 1.4em;
            text-transform: uppercase;
            margin: 0 10px;
        }
        p{
            color: rgb(216, 212, 207);
            margin: 0 10px;
        }
        
    }
    .box{
        position: relative;
        img{
            max-width: 100%;
            height: 400px;
        }
    }
}

.card-movie{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.card-degraded{
    display:flex;
    width:100%;
}

.card-filter{
    display:flex;
    width:100%;
    height:100%;
    background: radial-gradient(circle, rgba(224,95,95,0.9136029411764706) 2%, rgba(59,23,23,1) 90%);
    border-bottom: 5px solid grey;
}

.card-details{
    padding: 15px 0;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    height:100%;
    width:100%;
}

.card-img{
    display:flex;
    flex-wrap: wrap;
    width: 500px;
    height:100%;
}
.card-texto{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    color: #ffff;
}


.cards{
    display:flex;
    flex-wrap:wrap;
    cursor: pointer;
    align-content: center;
    justify-content: flex-start;
}

.title-pelicula{
    display:flex;
    width:100%;
    justify-content: flex-start;
    font-weight: 600;
    margin-top: 1rem;
}


.img-card{
        display: flex;
        height: 500px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 0.50rem;
    }
    img footer{
        border-radius: 10px;
            height: 100%;
            width:100%;
    }
    h5{
        font-size: 2.2rem;
    }
    .link-home{
        width:160px;
        left: 115px;
        font-size:1.3em;
        font-weight: bold;
        display:inline-block;
        text-transform: uppercase;
        border: 2px solid #fff;
        border-radius: 5px;
        padding: 8px 16px;
        border-color: rgb(48,52,54);
        background-color: rgb(24,26,27);
        color: rgb(45,210,254);
    }
    .img-background{
        height:665px;
        background-image: url("https://carontestudio.com/img/caronte-web-estudio-logo.png");
        background-repeat: repeat-y;
        background-size: 10rem;
    }
.cards-actors{
    width: 100%;
    border:5px;
    margin: 0 3rem
}

@media(max-width: 511px){
    .title-pelicula {
        justify-content: center;
    }
}

@media(max-width: 511px){
    .title-pelicula {
        justify-content: center;
    }
}

.margen{
    margin: 40px -36px 0 -4px;
}
.margen-footer{
    margin-top: 80px;            
}

.card-text{
    background-color: rgba(71, 68, 68, 0.075);
}

.show{
    display:none;
}

.header-card{
    height:100%;
    width:100%;
}
.footer-card{
    height: 100%;
    width:100%;
    background-color: #1c1e1f 
}


